/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */
body {
  padding-top: 5rem;
  color: #5a5a5a;
}

.custom-navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}


/* HEADER CSS
------------------------ */
.header {
  height: 34vw;
  margin-left:40px;
  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px; /* Add margin to create space between header and next component */
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 3vw;
  animation: fadeIn 3s;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: 1vw;
  
}

.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}

.header-contents button:hover {
  background-color: grey; /* Change background color on hover */
  color: green; /* Change text color on hover */
}

/* FOOTER CSS
------------------------ */
.footer {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 20px; /* Add margin-top to create space between footer and component above */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
  flex: 1;
  margin: 10px;
}

.footer-logo h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.footer-social-des p {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 15px;
}

.footer-social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.footer-social-icons img {
  width: 24px;
  cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.footer-content-center ul,
.footer-content-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content-center ul li,
.footer-content-right ul li {
  margin: 8px 0;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
}

.footer-content-center ul li:hover,
.footer-content-right ul li:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: #7f8c8d;
  margin: 20px 0;
}

.footer-copyright {
  font-size: 0.9em;
  margin: 0;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    margin: 10px 0;
  }
}
